<!DOCTYPE html>

<html>
  <head>
    <title>My Pokedex Web App</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
      /* Add your CSS rules here */
      header {
        background-color: #333;
        color: white;
        padding: 20px;
        text-align: center;
        font-size: 30px;
      }

      main {
        padding: 20px;
        font-size: 20px;
      }

    </style>
  </head>
  <body>
    <header>
      <!-- Put your header content here -->
      Pokemon API App
    </header>
    <main>
      
      <fetchdata></fetchdata>
      <!-- Put your main content here -->
    </main>
  </body>
</html>
