<!DOCTYPE html>
<button type= "button" (click) = updatePokemon() >Generate new Pokemon</button> 
<button type= "button" style="margin-left: 10px;" >Fight the pokemon</button>
<div class="pokemon-box">
    <img src="{{pokemons.sprites.front_default}}" alt="Pokemon image" width="200" height="200">
    <h2>{{pokemons.name | titlecase}} ({{pokemons.id}})</h2>
    <div class="stat-bar">
        <p>Health:</p>
        <div class="bar-container">
          <div class="bar bar-health" [style.width.%]="pokemons.stats[0].base_stat / 255 * 100"></div>
        </div>
        <p>{{pokemons.stats[0].base_stat}}</p>
      </div>
      
      <div class="stat-bar">
        <p>Attack:</p>
        <div class="bar-container">
          <div class="bar bar-attack" [style.width.%]="pokemons.stats[1].base_stat / 255 * 100"></div>
        </div>
        <p>{{pokemons.stats[1].base_stat}}</p>
      </div>
      
      <div class="stat-bar">
        <p>Defense:</p>
        <div class="bar-container">
          <div class="bar bar-defense" [style.width.%]="pokemons.stats[2].base_stat / 255 * 100"></div>
        </div>
        <p>{{pokemons.stats[2].base_stat}}</p>
      </div>
      
      <div class="stat-bar">
        <p>Speed:</p>
        <div class="bar-container">
          <div class="bar bar-speed" [style.width.%]="pokemons.stats[5].base_stat / 255 * 100"></div>
        </div>
        <p>{{pokemons.stats[5].base_stat}}</p>
      </div>      
  </div>



